# Unity 生成的目录和 IDE 文件
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
*.csproj
*.sln
*.slnx
*.pidb
*.userprefs
.vs/
.idea/
.vscode/
/TestResults*.xml
